.text{
  background-color: red;
  color: blue;
  /* display: none; */
  height: 50vh;
  font-size: 2em;
  margin: 5px 20px 33px 50px;
  padding: 4px;
}
.text2{
  height: 50%;
  background: yellow;
  font-size: 1rem;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  background-color: red;
  gap: 2px;
  justify-content:space-between; 
  /* justify-self: unset; */

}
.flex-item{
  height: 30px;
  width: 30px;
  background-color: blue;

}